@model NewsBlog.Models.Data.Blog

@{
    ViewData["Title"] = "ДеталиНовости";
}

<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"> <a asp-controller="Home" asp-action="Index">Главная</a></li>
        <li class="breadcrumb-item"> <a asp-controller="Blogs" asp-action="Index">Новости</a></li>
        <li class="breadcrumb-item" active>Детали</li>
    </ol>
</nav>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Text)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.Category.FormOfCategory)
        </dt>
        <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.Category.FormOfCategory)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
</div>
